.leaflet-bar a, .leaflet-bar a:hover{
    width: 40px;
    height: 40px;
}
.leaflet-control-geocoder-form input{
    height 40px !important;
    margin-top: 4px;
}

/*Over ride custom bootstrap crap for this search box*/
form.leaflet-control-geocoder-form input {
    background-color: #fff !important;
    outline: 0px !important;
    padding-left: 1em;
    color: #000;
}

.leaflet-control-geocoder-expanded{
    width: 95%;
}
